.custom_header {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #222;
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header_container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.section_header_left {
  display: flex;
  align-items: center;
}

.logo_section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo_omoda {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -1px;
  font-style: italic;
}

.divider {
  width: 1.5px;
  height: 25px;
  background-color: #e31b23;
  margin: 0 15px;
}

.logo_jaecoo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 4px;
}

.nav_menu {
  display: flex;
  gap: 20px;
}

.nav_item {
  color: #aaaaaa;
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  transition: color 0.3s ease;
  letter-spacing: 0.5px;
}

.active,
.nav_item:hover {
  color: #ffffff;
}
.search_wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #000;
}

.search_container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.search_container:hover,
.search_container:focus-within {
  width: 250px;
  background-color: #fff;
}

.search_input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  font-size: 14px;
  opacity: 0;
  transition: all 0.3s ease;
  padding-left: 10px;
}

.search_container:hover .search_input,
.search_container:focus-within .search_input {
  opacity: 1;
}

.icon_box {
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: color 0.3s ease;
  background-color: transparent;
  border: none;
}

.search_container:hover .icon_box,
.search_container:focus-within .icon_box {
  color: #adadad;
}

.search_icon {
  cursor: pointer;
}

.search_container::before {
  content: "";
  position: absolute;
  right: 40px;
  height: 60%;
  width: 1px;
  background-color: #ddd;
  opacity: 0;
  transition: opacity 0.3s;
}

.search_container:hover::before {
  opacity: 1;
}

/* ----------- mobile */

.mobile_toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
  padding: 5px;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}

.search {
  display: none;
  gap: 5px;
  gap: 8px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  align-items: center;
}

.inputSearch {
  flex: 1;
  min-width: 0;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.buttonSubmit {
 padding: 8px 15px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap; 
  flex-shrink: 0; 
}

button[type="submit"]:hover {
  background-color: #0b7dda;
}

@media (max-width: 1100px) {
  .header_container {
    padding: 9px 10px;
  }

  .search {
    display: flex;
    
  }

  .mobile_toggle {
    display: flex;
  }

  .search_wrapper {
    display: none;
  }

  .search_container:hover,
  .search_container:focus-within {
    width: 180px;
  }

  .logo_omoda {
    font-size: 18px;
  }
  .logo_jaecoo {
    font-size: 16px;
    letter-spacing: 2px;
  }

  .nav_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #111;
    flex-direction: column;
    padding: 80px 40px;
    transition: 0.4s ease-in-out;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    gap: 30px;
  }

  .nav_active {
    right: 0;
  }

  .nav_item {
    font-size: 16px;
    border-bottom: 1px solid #222;
    padding-bottom: 10px;
    width: 100%;
  }

  .search_section {
    margin-left: auto;
    margin-right: 20px;
  }

  .divider {
    margin: 0 10px;
  }
}

.bar_top_active {
  transform: translateY(7px) rotate(45deg);
}
.bar_mid_active {
  opacity: 0;
}
.bar_bot_active {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 480px) {
  .logo_omoda {
    font-size: 18px;
  }
  .logo_jaecoo {
    font-size: 16px;
    letter-spacing: 2px;
  }
  .search_btn {
    border-left: none;
    padding-left: 10px;
  }

  .search_container:hover,
  .search_container:focus-within {
    width: 180;
  }

  .search {
    flex-direction: column; 
  }

  .inputSearch, 
  .buttonSubmit {
    width: 100%; 
  }
}
