.price_section {
  margin-top: 30px;
  width: 1000px;
  margin: 60px auto;
}
.price_table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.price_table th {
  border-bottom: 2px solid #333;
  padding: 10px;
  font-size: 13px;
}

.price_table td {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  vertical-align: top;
}

.version_name {
  color: #0066cc;
  font-weight: bold;
}
.price {
  font-weight: bold;
  color: #333;
}
.highlight_red {
  color: red;
  font-weight: bold;
  font-size: 0.9rem;
}
.sub_detail {
  font-size: 0.85rem;
  color: #555;
  margin-top: 3px;
}

.layout_image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
