
.main_title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.car_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  column-gap: 40px;
  row-gap: 60px;
}

.car_card {
  display: flex;
  flex-direction: column;
}

.card_header {
  margin-bottom: 15px;
  min-height: 50px; 
}

.car_name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.car_price {
  color: #0066cc;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}


.car_promo {
  color: #ff3333;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.car_note {
  font-size: 12px;
  font-style: italic;
  color: #333;
}

.card_image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin-bottom: 5px;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_actions {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn_action {
  text-decoration: none;
  font-size: 13px;
  color: var(--primary-gray); 
  font-weight: 500;
  transition: color 0.3s;
}

.btn_action:hover {
  color: var(--primary-blue);
}


@media (max-width: 600px) {
  .car_grid {
    grid-template-columns: 1fr;
  }
}