:root {
  --primary-color: #ffc107; 
  --primary-hover: #0049e6;
  --text-color: #212121;     
  --bg-light: #ffffff;        
  --bg-accent: #d1faff;       
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(12px, 1.5vw, 16px);
}


body {
  font-family:'Inter', sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

.pointer {
cursor: pointer;}


